- content_for :brand do
  Generate IPs range
- content_for :nav_links do
  %li.active= link_to 'Debian', debian_ips_path
  %li= link_to 'CentOS', centos_ips_path

#results
  = render 'debian_results'
